

            <div class="pikachoose">
                <ul id="pikame">
                    {% for image in images %}
                    <li><img src="/uploads/images/{{ image.path }}"/></li>
                    {% endfor %}
                </ul>
            </div>