{# src/TigerWebDev/GalleryBundle/Resources/views/Gallery/new.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}New Gallery{% endblock %}
{% block body %}
    <form action="{{ path('BloggerBlogBundle_gallery_new') }}" method="post" {{ form_enctype(form) }} class="blogger">
   
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
{% endblock %}