
{% extends 'BloggerGalleryBundle::layout.html.twig' %}

{% block body %}
    <h1>Upload Error</h1>
    <p>There was an error uploading one or more files.</p>
    {% if error == '1' %}
        <p>A file was larger than {{ mb }} MB.</p>
    {% endif %}
    
{% endblock %}