
{% extends 'BloggerGalleryBundle::layout.html.twig' %}

{% block body %}
    <h1>Upload Error</h1>
    <p>There was an error uploading one or more files.</p>
    <p>This may be because a file was larger than {{ mb }} MB.</p>
    
{% endblock %}