{% extends 'BloggerShopBundle::layout.html.twig' %}

{% block body %}

        <header class="row">
            <h2 class="span7">{{ product.title }}</h2>
            
            <div class="span1">
                {% include 'BloggerShopBundle:Shop:paypalAdd.html.twig' with { 'email': email, 'title': product.title, 'price': product.price  } %}
            </div>
        </header>
        
        <div class="snippet">
            <p>{{ product.description|nl2br }}</p>
            
            {% render 'BloggerGalleryBundle:Gallery:gallery' with { 'images': product.images } %}
            
        </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'BloggerGalleryBundle:Gallery:gallery.css.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     {% include 'BloggerGalleryBundle:Gallery:gallery.js.html.twig' %}
{% endblock %}

{% block nav %}
    {% render "BloggerShopBundle:Shop:nav" with { 'category_slug': product.category.slug } %}
{% endblock %}
