{% extends 'BloggerShopBundle::layout.html.twig' %}

{% block body %}

    <header>
        <h2>Add a new product</h2>
    </header>
    
    <form action="{{ path('BloggerShopBundle_product_add', { 'category_slug': category_slug }) }}" method="post" {{ form_enctype(form) }} class="blogger">
   
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>

{% endblock %}